<launch> 
  <arg name="real_time" default="false"/>
  <arg name="simulate" default="true"/>
  <arg name="prefix" default=""/>
  <arg name="ip" default="10.0.0.101"/>
  <arg name="port" default="5007"/>
 
  
  <arg name="xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find midem_description)/$(arg xacro)'"/>

  <node ns="midem" pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <remap from="joint_states" to="/midem/joint_states" />
  </node>

  <!-- Robot controller -->
  <node ns="midem" pkg="denso_rc7m_controller" type="denso_rc7m_controller" name="rc7m_controller" output="screen">
    <param name="realtime" value="$(arg real_time)" />
    <param name="simulate" value="$(arg simulate)" />
    <param name="prefix" value="$(arg prefix)" />
    <param name="ip" value="$(arg ip)" />
    <param name="port" value="$(arg port)" />
  </node>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find midem_common)/config/midem_ros_control.yaml" command="load"/>
    
  
  <!-- load the controllers -->
  <node ns="midem" name="controller_spawner" pkg="controller_manager" type="spawner"
    respawn="false" output="screen" args="--namespace=/midem 
          joint_state_controller
          ptp_controller"/>
  
</launch>
