<launch>
  <!-- Load detector configurations from YAML file to parameter server -->
  <rosparam file="$(find midem_user_interaction)/config/gesture_detector.yaml" command="load"/>


  <node pkg="midem_user_interaction" type="midem_user_interaction" name="midem_user_interaction"  output="screen">
    <remap from="arms_msg" to="/intel_perceptual_server/arms"/>
    <remap from="skeletons_msg" to="/kinect_server/skeletons"/>    
  </node>
</launch>
