<?xml version="1.0" ?>

<robot name="midem_dual" xmlns:xacro="http://ros.org/wiki/xacro">
    <link name="base"/>
    <xacro:vp6242 prefix="arm0_"/>
	<include filename="$(find vp6242_description)/urdf/vp6242_macro.xacro"/>
	<xacro:vp6242 prefix="arm1_"/>
	<include filename="$(find vp6242_description)/urdf/vp6242_macro.xacro"/>
    <joint name="base_arm0" type="fixed">
        <parent link="base"/>
        <child link="arm0_world"/>
        <origin xyz="0 -0.5 0" rpy="0 0 0"/>
    </joint>
    <joint name="base_arm1" type="fixed">
        <parent link="base"/>
        <child link="arm1_world"/>
        <origin xyz="0 0.5 0" rpy="0 0 0"/>
    </joint>    
</robot>
